body {
    font-family: "Nunito", sans-serif;
    margin: 0px;
}

#header-area {

    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

#header-area2 {
    display: flex;
}

#header-area2 h1 {
    font-size: 35px;
    font-weight: 600;
}

#header-area h1 {
    font-size: 35px;
    font-weight: 600;
}

span {
    color: hotpink;
}

#header-text {
    width: 50%;
    margin-left: 50px;
    padding-top: 50px;
}

#header-img img {
    width: 50%;
    margin-left: 50px;
    padding-top: 50px;
}


#btn-add {
    padding: 7px 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-image: linear-gradient(rgb(216, 175, 181), rgb(240, 101, 125));
    border-radius: 3px;

}