body {
    font-family: "Nunito", sans-serif;
}

#header-area {
    height: 100%;
    width: 100%;
    display: flex;

}

span {
    color: hotpink;
}

#header-text {
    width: 50%;
    margin-left: 50px;
    padding-top: 50px;
}

#header-img img {
    width: 50%;
    margin-left: 50px;
    padding-top: 50px;
}


#btn-add {
    padding: 7px 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-image: linear-gradient(rgb(216, 175, 181), rgb(240, 101, 125));


}


}